body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
}

header {
  background-color: transparent;
}

nav {
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

ul {
  list-style: none;
  padding-bottom: 3vh;
  margin: 0;
}

li {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff9900;
}

img {
  height: 35vh;
  width: 13vw;
  margin: -21vh 5vw 0vh 15vw;
}

.img2 {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  height: 25vh;
  width: 12.5vw;
  margin-top: 0vh;
  padding-left: 0vw;
}

.img3 {
  margin: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 30vh;
  width: 20vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 2vw 0vh 2vw;
}

.brand-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 18vh;
  color: #ffffff;
  font-family: 'Inter', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
  /* margin-top: 2vh; */
  /* padding-top: 2vh; */
}

.brand-line {
  font-size: 30px;
  margin-right: 20px;
}

.center-text {
  flex-direction: column;
  align-items: flex-end;
  padding: 0vw;
  position: relative;
  /* top: 200px; */
}

.center-text .center-line {
  font-size: 16vh;
  margin-right: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: 'Inter', Sans-serif;
  /* font-size: 144px; */
  font-weight: 600;
  line-height: 2vh;
}

.upper-segment {
  padding-left: 10vw;
}

.center-line .title-line1 {
  align-items: end;
}

.subtitle-line1 {
  font-size: 3vh;
  color: #ffffff;
  font-family: 'Inter', Sans-serif;
  font-weight: 10;
  display: inline-block;
  width: 20vw;
  margin-right: 10vw;
}

.hero-segment3 {
  padding: 4vh 0vw 0vh 15vw;
}

.hero-segment1 {
  display: flex;
  align-items: baseline;
}

.hero-segment2 {
  display: flex;
  align-items: center;
}

.hero-segment4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .hero-segment4 {
    flex-direction: column;
    align-items: flex-start;
  }

  .subtitle-line1 {
    width: 100%;
    margin-right: 0;
  }
}

/* Footer CSS from Here */
footer {
  font-family: 'Inter', Sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.footer-container {
  display: flex;
}

.left-section {
  flex: 1;
}

.name-content {
  font-size: 24px;
  margin-bottom: 2em;
}

.address-content {
  margin-bottom: 2em;
  color: rgb(93, 94, 94);
}

.contact-content {
  margin-bottom: 2em;
  color: rgb(93, 94, 94);
}

.contact {
  color: #ffffff;
  font-size: 24px;
}

.link-content {
  font-size: 20px;
}

.remaining-section {
  flex: 2;
}

.question-section {
  font-size: 46px;
  margin-bottom: 1em;
  font-weight: bold;
}

.chudi {
  color: #ff9900;
  font-size: 24px;
}

.contactus {
  font-size: 24px;
}

.email-input-container {
  background-color: transparent;
}

.email-input {
  width: 70%;
  padding: 1rem;
  font-size: 16px;
  opacity: 0.7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
