body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
}

header {
  background-color: transparent;
}

nav {
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

ul {
  list-style: none;
  padding-bottom: 3vh;
  margin: 0;
}

li {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff9900;
}

img {
  height: 35vh;
  width: 13vw;
  margin: -21vh 5vw 0vh 15vw;
}

.img2 {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  height: 25vh;
  width: 12.5vw;
  margin-top: 0vh;
  padding-left: 0vw;
}

.img3 {
  margin: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 30vh;
  width: 20vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 2vw 0vh 2vw;
}

.brand-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 18vh;
  color: #ffffff;
  font-family: 'Inter', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
  /* margin-top: 2vh; */
  /* padding-top: 2vh; */
}

.brand-line {
  font-size: 30px;
  margin-right: 20px;
}

.center-text {
  flex-direction: column;
  align-items: flex-end;
  padding: 0vw;
  position: relative;
  /* top: 200px; */
}

.center-text .center-line {
  font-size: 16vh;
  margin-right: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: 'Inter', Sans-serif;
  /* font-size: 144px; */
  font-weight: 600;
  line-height: 2vh;
}

.upper-segment {
  padding-left: 10vw;
  /* padding-bottom: 10vh; */
}

.hero-container{
  padding-bottom: 15vh;
}

.center-line .title-line1 {
  align-items: end;
}

.subtitle-line1 {
  font-size: 3vh;
  color: #ffffff;
  font-family: 'Inter', Sans-serif;
  font-weight: 10;
  display: inline-block;
  width: 20vw;
  margin-right: 10vw;
}

.hero-segment3 {
  padding: 4vh 0vw 0vh 15vw;
}

.hero-segment1 {
  display: flex;
  align-items: baseline;
}

.hero-segment2 {
  display: flex;
  align-items: center;
}

.hero-segment4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .hero-segment4 {
    flex-direction: column;
    align-items: flex-start;
  }

  .subtitle-line1 {
    width: 100%;
    margin-right: 0;
  }
}

/* Footer CSS from Here */
footer {
  font-family: 'Inter', Sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.footer-container {
  display: flex;
}

.left-section {
  flex: 1;
}

.name-content {
  font-size: 24px;
  margin-bottom: 2em;
}

.address-content {
  margin-bottom: 2em;
  color: rgb(93, 94, 94);
}

.contact-content {
  margin-bottom: 2em;
  color: rgb(93, 94, 94);
}

.contact {
  color: #ffffff;
  font-size: 24px;
}

.link-content {
  font-size: 20px;
}

.remaining-section {
  flex: 2;
}

.question-section {
  font-size: 46px;
  margin-bottom: 1em;
  font-weight: bold;
}

.chudi {
  color: #ff9900;
  font-size: 24px;
}

.contactus {
  font-size: 24px;
}

.email-input-container {
  background-color: transparent;
}

.email-input {
  width: 70%;
  padding: 1rem;
  font-size: 16px;
  opacity: 0.7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


/* Main Section CSS begins here */

.main-container{
  padding: 5vh 3vw 3vh 10vw;
  background-color: #ffffff;
}

.main-segment1{
  padding: 5vh 3vw 8vh 3vw;
}

.main-subsegment2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10vh;
}

.description{
  color: #0f0f0f;
  font-family: sans-serif;
  /* padding-left: 10vw; */
}

.info-title{
  color: #000000;
  font-size: 40px; 
  white-space: pre-line;
  text-transform: uppercase;
  max-width: 30vw;
  word-wrap: break-word;
  padding-right: 10vw;
  /* font-weight: 550; */
  /* width: 25vw;  */
}



.info-index{
  color: #8c8c8c;
}

.segment-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
  color: #000000;
  font-family: 'Inter', Sans-serif;
  font-size: 7vh;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
  width: 40vw;
}

.info-box{
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  /* text-decoration-color: #000000; */
}

.info-box > div {
  margin-bottom: 5vh;
}


.image-container{
  padding: 0vh 3vw 10vh 0vw;
}

.image-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-flex > img{
  margin-top: 0vh;
}

.left-image{
  margin-top: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 40vh;
  width: 46vw;
}

.right-image{
  margin-top: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 60vh;
  width: 30vw;
}

.center{
  align-items: center;
}

.bottom-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-icon{
  padding: 0vh 0vw 0vh 0.5vw;
}


/* Client segment */

.client-container{
  background-color: #000000;
  height: 30vh;
  width: 80vw;
}


/* 2nd subsegment */

.info-box2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-box2 > .description{
  padding-left: 10vw;
}

.left-image2{
  margin-top: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 40vh;
  width: 26vw;
}

.middle-image{
  margin-top: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 30vh;
  width: 26vw;
}

.right-image2{
  margin-top: 0vh;
  padding-left: 2vw;
  padding-top: 9vh;
  height: 40vh;
  width: 25vw;
}

.image-flex2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info-title2{
  color: #000000;
  font-size: 25px; 
  white-space: pre-line;
  text-transform: uppercase;
  max-width: 30vw;
  word-wrap: break-word;
  /* padding-right: 10vw; */
  /* font-weight: 550; */
  /* width: 25vw;  */
}

.bottom-links-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* margin-right: 10vw; */
}

.main-subsegment3{
  padding-bottom: 15vh;
}

.video-type-icon{
  color: #000000;
}

.video-type-title{
  color: #000000;
  font-size: 20px; 
  white-space: pre-line;
  text-transform: uppercase;
  max-width: 30vw;
  word-wrap: break-word;
  padding-right: 5vw; 
}


.video-type-description{
  color: #0f0f0f;
  font-family: sans-serif;
  /* padding-left: 10vw; */
}

.video-type-box{
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  /* text-decoration-color: #000000; */
}